*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 800vh;
}

body{
    background-color: #FFFAFA;
    font-family: 'Raleway', sans-serif;
    color: #20160F;
    height: 800vh;
    
}

.navbar{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1vh;
    z-index: 1;
}

.links{
    grid-column: 4;
    justify-content: space-evenly;
}

.home{
    height: 100vh;
    background-image: url(./carps-01.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
