*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #FFFAFA;
    font-family: 'Raleway', sans-serif;
    height: 800vh;
    color: #20160F;
}

.home{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    text-align: left;
    background-image: url(./circle\ 0.5.png);
    background-size: 70vh;
    background-repeat: no-repeat;
    margin-top: 25vh;
    margin-left: 5vh;
}



.tekst{
    margin-top: 10vh;
    margin-left: 9vh;
    font-family: 'Oswald', sans-serif;
}

#hello{
    color: #f9bb9f;
    
}