*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #FFFAFA;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    color: #20160F;
}

.home{
    height: 100vh;
    background-image: url(./carps-01.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
