*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden;
}

body{
  background-color: #FFFAFA;
  font-family: 'Raleway', sans-serif;
  color: #20160F;
  height: 300vh;
  width: auto;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar{
  display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFAFA;
    position: fixed;
    width: 100%;
  }
  
  li {
    float: left;
    font-family: 'Open Sans', sans-serif;
  }
  
  li a{
    display: inline-block;
    color: #20160F;
    text-align: center;
    padding: 1vh 1vh;
    text-decoration: none;
    transition: 0.1s;
  }
  
  li a:hover{
    border-bottom: 0.5vh solid #f9bb9f;
    color: #95b1b0;
  }