*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFAFA;
    position: fixed;
    width: 100%;
  }
  
  li {
    float: left;
    font-family: 'Open Sans', sans-serif;
  }
  
  li a{
    display: inline-block;
    color: #20160F;
    text-align: center;
    padding: 1vh 1vh;
    text-decoration: none;
    transition: 0.1s;
  }
  
  li a:hover{
    border-bottom: 0.5vh solid #f9bb9f;
    color: #95b1b0;
  }