*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFAFA;
    font-family: 'Raleway', sans-serif;
    color: #20160F;
    height: 300vh;
    width: 100%;
    overflow-x: hidden;
}


.parallax {
    background-image: url(./duck-01.png);
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.style{
    height:100vh;
    background-color:rgba(120, 216, 216, 0.2) ;
    font-size:24px;
    padding: 40vh 25vh;
}

