*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;
}

body{
    background-color: #FFFAFA;
    font-family: 'Raleway', sans-serif;
    color: #20160F;
    height: 300vh;
    width: auto;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar{
    display: none;
}

section{
    scroll-snap-align: start;
    height: 100vh;
}


.parallax {
    background-image: url(./background\ duck-01-01.png); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.style{
    background-image: url(./center\ background-01.png);
    font-size:24px;
    padding: 25vh 50vh;
}

