section{
    scroll-snap-align: start;
    height: 100vh;
}


.parallax {
    background-image: url(./background\ duck\ scroll\ down-01.png); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.style{
    background-image: url(./center\ background-01.png);
    font-size:24px;
    padding: 25vh 50vh;
}

.duck{
    display: flex;
    justify-content: center;
    align-items: center;
}

.duck img{
    cursor: pointer;
}